@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center mb-3">
    <label for="formFile" class="form-label">Upload your PDF:</label>
    <input class="form-control" type="file" id="formFile">
</div>